<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>学IT - 后台管理系统</title>
		<link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/assets/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="/public/assets/nprogress/nprogress.css">
		<link rel="stylesheet" href="/public/less/index.css">
	</head>

	<body>
		<?php  include('/view/commonHtml/common.html');?>

		<!-- 主体 -->
		<div class="main">
			<div class="container-fluid">
				<!-- 头部 -->
				<div class="header">
					<nav class="navbar navbar-custom">
						<div class="navbar-header">
							<a href="javascript:;" class="navbar-brand">
								<i class="fa fa-navicon"></i>
							</a>
						</div>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="javascript:;">
									<i class="fa fa-bell"></i>
									<span class="badge">8</span>
								</a>
							</li>
							<li>
								<a href="./settings.html">
									<i class="fa fa-user"></i> 个人中心
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<i class="fa fa-sign-out"></i> 退出
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<i class="fa fa-tasks"></i>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<!-- 讲师列表 -->
				<div class="body teacher-list">
					<!-- 面包屑 -->
					<ol class="breadcrumb">
						<li>
							<a href="javascript:;">讲师管理</a>
						</li>
						<li class="active">讲师列表</li>
					</ol>
					<div class="page-title">
						<a href="./teacher_add.html" class="btn btn-success btn-sm pull-right">添加讲师</a>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<form action="" class="form-inline">
								<div class="input-group">
									<input type="text" class="form-control input-sm">
									<span class="input-group-btn">
                                    <button class="btn btn-success btn-sm">搜索</button>
                                </span>
								</div>
							</form>
						</div>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>编号</th>
									<th>姓名</th>
									<th>昵称</th>
									<th>出生日期</th>
									<th>性别</th>
									<th>电子邮箱</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="teachersInfo"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- 模态框 添加课程 -->
		<div class="modal fade" id="teacherModal">
			<div class="modal-dialog" style="width: 750px;">
				<div class="panel panel-default">
					<div class="panel-heading">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="panel-title">讲师信息</h4>
					</div>
					<div class="panel-body" id="teachermsg"></div>
				</div>
			</div>
		</div>

		<script src="/public/assets/requiresjs/require.js"></script>
		<!--引入初始化模块路径的js-->
		<script src="/public/js/common.js"></script>
		<script src="/public/js/teacher-list.js"></script>
		<!--教师列表的模板-->
		<script type="text/template" id="teacherList">
			{{each lists as list i}}
			<tr>
				<td>{{i+1}}</td>
				<td>{{list.tc_name}}</td>
				<td>{{list.tc_roster}}</td>
				<td>{{list.tc_birthday}}</td>
				<td>
					{{if list.tc_gender == 1}} 男 {{else}} 女 {{/if}}
				</td>
				<td>{{list.tc_email}}</td>
				<td class="btn-handler">
					<a href="javascript:;" class="btn btn-info btn-xs" data-tcid="{{list.tc_id}}">查 看</a>
					<a href="./teacher_add.html" class="btn btn-info btn-xs">编 辑</a>
					<a href="javascript:;" class="btn btn-warning btn-xs" data-status="{{list.tc_status}}" data-tcId="{{list.tc_id}}">
						{{if list.tc_status == 1}} 
						启用
						{{else}}
						注销
						{{/if}}
					</a>
				</td>
			</tr>
			{{/each}}
		</script>
		<!--查询讲师信息的模板-->
		<script type="text/template" id="teacherInfo">
			
			<table class="table table-bordered table-condensed">
				<tbody>
					<tr>
						<th>姓名:</th>
						<td>{{tc_name}}</td>
						<th>职位:</th>
						<td colspan="3">讲师</td>
						<td rowspan="4" width="128">
							<div class="avatar">
								{{if tc_avatar}}
								<img src="{{tc_avatar}}" alt="">
								{{else}}
								<img src="./images/default.png" alt="">
								{{/if}}
							</div>
						</td>
					</tr>
					<tr>
						<th>花名:</th>
						<td>{{tc_roster}}</td>
						<th>出生日期:</th>
						<td colspan="3">{{tc_birthday}}</td>
					</tr>
					<tr>
						<th>性别:</th>
						<td>
							{{if tc_gender == 1}}
							男
							{{else}}
							女
							{{/if}}
						</td>
						<th>入职日期:</th>
						<td colspan="3">{{tc_join_date}}</td>
					</tr>
					<tr>
						<th>手机号码:</th>
						<td colspan="2">{{tc_cellphone}}</td>
						<th>邮箱:</th>
						<td colspan="2">{{tc_email}}</td>
					</tr>
					<tr>
						<th>籍贯:</th>
						<td colspan="6">{{tc_hometown}}</td>
					</tr>
					<tr>
						<td colspan="7">
							<div class="introduce">
								{{#tc_introduce}}
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			
		</script>
	</body>

</html>