<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>学IT - 后台管理系统</title>
		<link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/assets/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="/public/assets/nprogress/nprogress.css">
		<link rel="stylesheet" href="/public/less/index.css">
	</head>

	<body>

		<!-- 侧边栏 -->
		<?php  include('/view/commonHtml/common.html');?>
		<!-- 主体 -->
		<div class="main">
			<div class="container-fluid">
				<!-- 头部 -->
				<div class="header">
					<nav class="navbar navbar-custom">
						<div class="navbar-header">
							<a href="javascript:;" class="navbar-brand">
								<i class="fa fa-navicon"></i>
							</a>
						</div>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="javascript:;">
									<i class="fa fa-bell"></i>
									<span class="badge">8</span>
								</a>
							</li>
							<li>
								<a href="./settings.html">
									<i class="fa fa-user"></i> 个人中心
								</a>
							</li>
							<li>
								<a href="javascript:;" id="logoutBtn">
									<i class="fa fa-sign-out"></i> 退出
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<i class="fa fa-tasks"></i>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<!-- 个人资料 -->
				<div class="body teacher-profile">
					<div class="profile">
						<div class="row survey">
							<div class="col-xs-3">
								<div class="cell money">
									<i class="fa fa-money"></i>
									<span>我的收入</span>
									<h5>￥11.11</h5>
								</div>
							</div>
							<div class="col-xs-3">
								<div class="cell th">
									<i class="fa fa-th"></i>
									<span>课程数量</span>
									<h5>12</h5>
								</div>
							</div>
							<div class="col-xs-3">
								<div class="cell user">
									<i class="fa fa-user"></i>
									<span>用户数量</span>
									<h5>236</h5>
								</div>
							</div>
							<div class="col-xs-3">
								<div class="cell eye">
									<i class="fa fa-eye"></i>
									<span>浏览量</span>
									<h5>22435</h5>
								</div>
							</div>
						</div>
						<div class="chart">
							<div id="main" style="width: 600px;height:400px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--引入模块化的文件-->
		<script src="/public/assets/requiresjs/require.js"></script>
		<!--引入初始化模块路径的js-->
		<script src="/public/js/common.js"></script>
		<script src="/public/js/index.js"></script>
	</body>

</html>